
#disclaimer {
    max-width: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    background: goldenrod;
    font-style: italic;
    padding: 10px;

    text-align: justify;
}

body,html {
    min-width: 120px;
    font-family: sans-serif;
    height: 100%;
    margin:  0px auto;
    background: #222222;
}

.combo-container {
   display: flex;
   flex-direction: row;
   max-width: 800px;
   flex-wrap: wrap;
   justify-content: space-evenly;
}

#wrapper {
    max-width: 800px;
    max-height: fill;
    min-height: fill;
    height:auto !important;
    min-height:100%;
    background-color: #999999;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: auto;
}

div#header {
    background: #335599;
    padding: 10px;
}

div#trainer {
    max-width: fill;
    max-height: fill;
    min-width: fill;
    min-height: fill;
}

div#combo, div#move {
    background: yellow;
    font-size: 72px;
    font-weight: bold;
    font-family: Impact, sans;
    text-align: center;
    animation: fadeIn ease .4s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

div#combo {
    background: yellow;
}

div#move {
    background: teal;
}

label {
    font-weight: bold;
    font-height: 14
}

.control {
    min-height: 30px;
    min-width: 30px;
}

input {
    float: right;
}

.combo-picker {
    border: 1px solid darkblue;
    background: skyblue;
    margin: 5px;
    padding: 2px;
    max-width: 200px;
    min-width: 200px;
    min-height: 100px;
}
