#disclaimer {
    max-width: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    background: goldenrod;
    padding: 10px;
    text-align: justify;
}

#disclaimer-content {
    font-style: italic;
}

body,html {
    min-width: 120px;
    font-family: sans-serif;
    height: 100%;
    margin:  0px auto;
    background: #222222;
}

.combo-container {
    display: none;
    flex-direction: row;
    max-width: 796px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2px;
    padding: 0px 18px 18px 18px;
}

.round-container {
    max-width: 796px;
    margin: 2px;
    padding: 18px;
}

.container-title {
    width: 100%;
    font-weight: bold;
    font-size: 18px;
}

input#disclaimer-collapse {
    display: none;
}

#label-disclaimer:hover {
  background-color: #red;
}

#label-disclaimer::before {
    content: "[+] ";
    font-family: Mono;
}

#disclaimer-collapse:checked + #label-disclaimer::before {
    content: "[-] ";
    font-family: Mono;
}


.disclaimer-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

#disclaimer-collapse:checked + #label-disclaimer + .disclaimer-content {
  max-height: 100vh;
}


#wrapper {
    max-width: 800px;
    max-height: fill;
    min-height: fill;
    height:auto !important;
    min-height:100%;
    background-color: #999999;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: auto;
}

div#header {
    background: #335599;
    padding: 10px;
}

div#trainer {
    max-width: fill;
    max-height: fill;
    min-width: fill;
    min-height: fill;
}

div#options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

div#combo, div#move {
    font-size: 72px;
    font-weight: bold;
    font-family: Impact, sans;
    text-align: center;
    animation: fadeIn ease .4s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

div#combo {
    background: yellow;
}

div#move {
    background: teal;
}

label {
    font-weight: bold;
    font-height: 14
}

.control {
    min-height: 30px;
    min-width: 30px;
}

input {
    float: right;
}

.combo-picker {
    border: 1px solid darkblue;
    background: skyblue;
    margin: 4px;
    padding: 6px;
    max-width: 200px;
    min-width: 200px;
    min-height: 100px;
    border-radius: 4px;
}

.round-picker {
    border: 1px solid darkblue;
    background: skyblue;
    padding: 8px;
    margin: 8px;
    border-radius: 4px;

}

.round-picker label {
    padding: 0px 10px 0px 0px;
}

.combo-describe {
    border: 1px solid darkblue;
    border-radius: 2px;
    margin: 2px;
    padding: 2px;
}

.combo-describe:hover > .combo-name + .combo-description {
    background-color: yellow;
    display: inline;
}

.combo-name {
    font-weight: bold;
    margin: 6px;
    padding: 2px;
}

.combo-description {
    display: none;
}

#round-custom:checked + div {
    display: flex;
}
